.body{
    height: 100px;
    width: 100px;
}
#hero-section{
    top: 0;
}
#nav-bar{
    border: none;
    width: 100%;
    height: 40px;
    padding: 3px 10px 3px;
}
nav-tags {
    text-align: center;
}
#nav-tags ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-tags li{
    display: inline;
}
#contact-me {
    display: inline-block;
    height: 5px;
    width: 15px;
    text-align: center;
    margin: 0;
}
#contact-me a{
    display: block;
    padding: 2px;
    background-color: #00023d;
}
#about-me{

}
#profile-picture{

}
#profile-statement{

}
#name{

}
#statement{

}
#projects{

}
.project-cards{

}
#one{

}
#two{
    
}
#three{
    
}
#blogs{

}
.blog-cards{

}
#blog-one{

}
#blog-two{
    
}
#footer{

}
#contact-me{

}
.contact-cards{

}
