@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

#hero-section{
    top: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-image: linear-gadient(to right, #A0D4ED, #FCFCFC, #A0D4ED )
}
li{
    color:#00023d;
}

li, a, button{
    display: inline;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
    font-size: 16px;
    font-weight: 500;
}
button{
    display: block;
    padding: 10px 24px;
    border-radius:8px;
    background-color: #00023d;
    color:#A0D4ED
}
.icons{
    height: auto;
    width: 40px;
}

.logo {
    height: auto;
    width: 40px;
    display: inline-block;
}

.profile-picture{
    width:250px;
    height: auto;
}
