@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-image: linear-gradient(#210635, #61129B);
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:20px 10%;
    height: 50px;
    background-image: linear-gradient(to right, #A0D4ED, #FCFCFC, #A0D4ED );
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    color:#00023d;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    background-color:#68c5f0;
    padding: 10px 24px;
    border-radius: 16px;
}

li, a, button{
    display: inline;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
    font-size: 20px;
    font-weight: 500;
}
button{
    margin-left: 20px;
    display: block;
    padding: 10px 24px;
    border: 0px;
    border-radius:8px;
    background-color: #00023d;
    color:#A0D4ED;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:#020688;
}
.icons{
    height: auto;
    width: 40px;
    display: inline-block;
}

.logo {
    height: auto;
    width: 60px;
    display: inline-block;
    margin-right: auto;
}

.profile-picture{
    display: inline-block;
    width:250px;
    height: auto;
}

#profile-card{
    display: inline-block;
    width: 400px;
    height: auto;
    border: 0px;
    border-radius: 16px;
    background-color: rgba(255,255,255,0.3);
    z-index: 10;
    margin-right: 20px;
    color:#FCFCFC;
}

footer{
    background-color: #420D4B;
    align-items: center;
}
